$color-white: #ffffff;
$color-black: #35373a;
$color-gray-light: #dce7f1;
$color-gray-muted: #9aa5b1;
$color-gray: #8496af;
$color-bg-muted: #f5f8fb;
$color-blue-light: #eaf5ff;
$color-primary: #429eff;
$color-blue-dark: #007aff;
$color-error: #ff5e5b;
$color-success: #1ab889;

$color-bg: $color-white;
$color-text: $color-black;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
